.main{
    width: 100%;
    height: auto;
    z-index: 1;
    display: block;
    .sec1{
        width: 100%;
        position:relative;
        z-index: 2;
        @include size(1915px, 975px);
        background-image: url("/event/20231220/img/s1Bg.jpg");
        .content{
            display: flex;
            flex-direction: column;
            align-items: center;

            .title{
                margin-top: 125px;
                margin-left: 25px;
                @include size(635px, 484px);
                background-image: url("/event/20231220/img/s1Title.png");
            }
        }
        }
    }
    #particles-js {
        position: absolute;
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 50% 50%;
        z-index: 3;
    }
